/*
 * 间隔工具集
 */

$gap: 5px;
@for $item from 0 through 8 {
  .mt-#{$item} { margin-top     : $gap * $item !important;}
  .mb-#{$item} { margin-bottom  : $gap * $item !important;}
  .ml-#{$item} { margin-left    : $gap * $item !important;}
  .mr-#{$item} { margin-right   : $gap * $item !important;}
   .m-#{$item} { margin         : $gap * $item !important;}

  .pt-#{$item} { padding-top    : $gap * $item !important;}
  .pb-#{$item} { padding-bottom : $gap * $item !important;}
  .pl-#{$item} { padding-left   : $gap * $item !important;}
  .pr-#{$item} { padding-right  : $gap * $item !important;}
   .p-#{$item} { padding        : $gap * $item !important;}
}
