$dark-color-border                  : lighten(black, 30%);
$dark-color-border-highlight        : lighten(black, 55%);
$dark-bg                            : lighten(black, 8%);
$dark-color-text                    : lighten(black, 90%);
$dark-color-text-info               : lighten(black, 60%);
$dark-btn-bg                        : lighten(black, 20%);
$dark-btn-bg-highlight              : lighten(black, 30%);
$dark-bg-th                         : lighten(black, 20%);
$dark-bg-td                         : lighten(black, 15%);

$blue:  #409EFF;
$red:   #F56C6C;
$green: #85ce61;